.flex {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}

.grid_end {
  width: 100%;
}

.bar {
  width: 75%;
}

@media screen and (max-width: 1200px) {
  .bar {
    width: 100%;
  }
  .channel_bar {
    width: 100%;
  }
}
