.flex {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}

.grid_end {
  width: 100%;
}

.bar {
  width: 75%;
}

.name_project {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: var(--Gradation-800);
}

@media screen and (max-width: 1200px) {
  .bar {
    width: 100%;
  }
  .channel_bar {
    width: 100%;
  }
}
