.modal_overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  max-width: 432px;
  background: var(--Gradation-100);
  padding: 17px 16px;
}
