:root {
  /* Colors */
  --Gradation-100: #ffffff;
  --Gradation-200: #f3f1ef;
  --Gradation-300: #ddd9d5;
  --Gradation-400: #9f9a95;
  --Gradation-500: #6b6661;
  --Gradation-600: #2a2622;
  --Gradation-700: #0f0d0b;
  --Gradation-800: #0f0d0b;
  --Green-100: #b7de68;
  --Green-200: #a7d747;
  --Green-300: #96ce27;
  --Green-400: #96ce27;
}
