.span {
  display: flex;
  padding: 0;
  max-width: 100%;
  position: relative;
  background: var(--Gradation-200);
  border-radius: 8px;
}

.input {
  outline: none;
  padding: 16px;
  display: flex;
  width: 100%;
  border: 0;
  background: transparent;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
  color: var(--Gradation-800);
}

.span_sub {
  border-radius: 0;
  background: transparent;
  border-bottom: 4px solid var(--Green-200);
}

.input_sub {
  background: transparent;
}

.button {
  background: transparent;
  border: 0;
  padding: 0;
  margin-right: 19px;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .input {
    font-size: 13px;
  }
}
