.modal {
  z-index: 2;
  background: var(--Gradation-100);
  padding: 20px 16px;
  border-radius: 16px;
  margin: 0 16px;
}

.div {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.button {
  cursor: pointer;
  width: 100%;
  padding: 9.5px 12px;
  background: var(--Gradation-100);
  border: 1px solid var(--Gradation-300);
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--Gradation-600);
  transition: 0.2s;
}

.button:hover {
  background: var(--Green-100);
  border: 1px solid var(--Green-100);
}

.button:active {
  background: var(--Green-300);
  border: 1px solid var(--Green-300);
}

@media screen and (max-width: 576px) {
  .modal {
    border-radius: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
  }
}
